*, *::before, *::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #FEF3E2;
  margin: 0;
  padding: 0;
}
#navbar {
  background-color: #BEC6A0;
}
#navbar a {
  color: #1E201E;
  text-decoration: none;
  display: block;
  border: 1px solid black;
}
#navbar li a:hover {
  background-color: #697565;
  color: #BEC6A0;
}
.main-section {
  margin: 0 auto;
  padding: 10px;
  letter-spacing: .2;
}
.main-section header {
  font-size: 1.5em;
  font-weight: 600;
}
pre {
  max-width: 100%;
}
pre, code {
  white-space: pre-wrap;
  font-family: monospace;
}
#conclusion li a:hover {
  color: #BEC6A0;
}
#conclusion, ul {
  list-style: none;
}
#conclusion li a {
  text-decoration: none;
  color: #352F44;
  display: block;
  padding: 2px;
}
@media (max-width: 550px) {
  body {
    max-width: 100%;
    margin: 0 auto;
  }
  #navbar {
    padding: 1px;
  }
  #navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    margin: 2px;
    padding: 0;
  }
  #navbar li {
    flex-grow: 1;
  }
  #navbar a {
    text-align: center;
    padding: 8px;
    font-size: 1.25em;
    margin: .5px;
  }
  #navbar header {
    font-size: 1.85em;
    text-align: center;
    padding: 5px;
    font-weight: 600;
  }
  .main-section header {
    font-size: 2em;
  }
  .main-section {
    font-size: 1.25em;
  }
}
@media (min-width: 680px) {
  body {
    max-width: 100%;
  }
  #main-doc {
    display: flex;
    align-items: start;
  }
  #navbar {
    position: sticky;
    top: 0;
    width: 30%;
    height: 100vh;
    border-right: 2px solid #5C5470;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #navbar li {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  #navbar a {
    text-align: left;
    padding: 10px;
    font-size: 1.75em;
    margin: 2px;
  }
  #navbar header {
    font-size: 2.75em;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .main-section header {
    font-size: 2em;
  }
  .main-section {
    font-size: 1.5em;
  }
}
@media (min-width: 900px) and (max-width: 1500px) {
  #navbar header {
    font-size: 3.4em;
    padding: 5px;
  }
  #navbar a {
    font-size: 2.5em;
  }
  .main-section header {
    font-size: 2.1em;
  }
  .main-section {
    font-size: 2em;
  }
}