*, *::before, *::after {
  box-sizing: border-box;
}

@media (max-width: 375px) {
  body {
    max-width: 375px;
  }
  #navbar {
    padding: 1px;
  }
  #navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #navbar li {
    flex-grow: 1;
  }
  #navbar a {
    color: #352F44;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    font-size: 1.1em;
    margin: .5px;
  }
  #navbar header {
    font-size: 1.75em;
    text-align: center;
    padding: 5px;
    font-weight: 600;
  }
  pre, code {
  white-space: pre-wrap;
  }
}

@media (min-width: 650px) {
  .main-section {
    margin-left: 30%;
  }
  .main-section header {
    font-size: 1.5em;
    font-weight: 600;
  }
  #conclusion li a:hover {
    color: #B9B4C7;
  }
  #navbar li a:hover {
    background-color: #5C5470;
    color: #FAF0E6;
  }
  html {
    scroll-behavior: smooth;
  }
  #conclusion, ul {
    list-style: none;
  }
  #conclusion li a {
    text-decoration: none;
    color: #352F44;
    display: block;
    padding: 2px;
  }
  #navbar {
    background-color: #B9B4C7;
    position: sticky;
    top: 0;
    width: 30%;
    height: 100%;
    border-right: 2px solid #5C5470;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #navbar li {
    text-align: center;
    width: 100%;
  }
  #navbar a {
    color: #352F44;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    font-size: 1.5em;
    margin: .5px;
  }
  #navbar header {
    font-size: 2.5em;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

body {
    background-color: #FAF0E6;
    margin: 0;
  }
.main-section {
    margin: 0;
    padding: 5px;
    letter-spacing: .2;
}
